/* general text and color */
body {
  background-color: #fefefe;
  text-align: center;
  margin: 0px auto;
  font-family: 'Barlow Semi Condensed';
}

h1 {
  color: rgb(0, 0, 0);
  text-align: center;
  font-family: 'Barlow Semi Condensed';
  font-size: 80px;
  margin:20px;
}

h2 {
  font-family: 'Barlow Semi Condensed';
  font-size: 24px;
}

h3 { /* header for search screen cards */
  padding: 0px;
  margin: 0px;
  font-family: 'Barlow Semi Condensed';
}

h4 {
  font-size: 10px;
  font-family: 'Barlow Semi Condensed';
}

p {
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.25;
  font-family: 'Barlow Semi Condensed';
}

.photos {
  width: 200px;
  height: 125px;
  margin: 10px auto;
}

.content {
  margin: 0px auto; /*https://stackoverflow.com/questions/2279295/page-will-not-align-center*/
  align-items: center;
  
}

.note {
  width: 700px;
  border-radius: 8px;
  border: solid;
  border-width: 4px;
  box-shadow: 10px 10px #f70046;
  margin: auto 0px;
  margin: 0px auto;
  display: inline-block;
}

/*footer */
footer {
  background-color: #3f3f49;
  width: 100%;
  height: 150px;
  margin: 40px auto;
  color: #fefefe;
  padding-top: 80px;
  bottom: 0%;
  font-family: 'Barlow Semi Condensed';
  font-size: 20px;
  text-align: left;
}

footer a {
  color: #fefefe;
  line-height: 1.5;
  text-decoration: none;
}

footer a:hover{
  color: #11cd85;
}

.pageEnd {
  margin: 0 auto;
  padding: 20px 20px;
}

/* navigation bar */
/* originally from https://www.w3schools.com/howto/howto_js_topnav.asp as a template */
/* Add a black background color to the top navigation */
.topnav {
  background-color: #1e1e1e;
  overflow: hidden;
  position: fixed;
  top: 0; /* keep navigaiton bar at the top of the page at all times */
  z-index: 999; /* source: https://stackoverflow.com/questions/21485018/how-do-i-make-my-navigation-bar-remain-on-top-of-page-while-scrolling */
  width: 100%;
  display: block;
  font-family: 'Barlow Semi Condensed';
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #fefefe;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-family: 'Barlow Semi Condensed';
  margin: 0 auto;
  font-size: 28px;
}

.topnav ul {
  margin: 0 auto;
  padding: 14px;
}

.topnav img {
  float: left;
  color: #fefefe;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
  font-family: 'Barlow Semi Condensed';
  margin: 0 auto;
  font-size: 24px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #F4D602; /* highlight color */
  color: black; /* text color */
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #11CD86;
  color: black;
}

/* slide show */
/* oritionaly from: https://www.w3schools.com/howto/howto_js_slideshow.asp */
/* Slideshow container */
.slideshow-container {
  background-color: #3f3f49;
  margin: 0 auto;
}

/* Hide the images by default  */
.mySlides {
  display: none;
  width: 700px;
  height: 500px;
  margin: 0 auto;
  position: center;
}

.mySlides img {
  width: 100%;
  height: 100%;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* home page */
/* look up dog button */
.dogPhoto {
  width: 500px;
  height: auto;
  border: 2px;
  border-color:#056FA8;
}

/* hidden choose file button */
.upload {
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  width: 100%; 
}
/* shown choose file button cover */
.uploadButton {
  background:#056FA8;
  position:relative;
  color:#fff;
  border-radius:2px;
  cursor:pointer;
  width: 200px;
  height: 80px;
  margin: 10px auto;
  font-family: 'Barlow Semi Condensed';
  font-size: 24px;
  border-radius: 8px;
  transition-duration: 0.2s;
}

.uploadButton:hover {
  background-color: #F4D602;
  color: #1e1e1e;
}

/* hidden submit button */
.submit{
  position: absolute;
  z-index: 1000;
  opacity: 0;
  cursor: pointer;
  right: 0;
  top: 0;
  height: 100%;
  font-size: 24px;
  width: 100%;
}
/* shown submit button cover */
.submitButton {
  padding:10px 10px;
  background:#F70044;
  position:relative;
  color:#fff;
  border-radius:2px;
  text-align:center;
  cursor:pointer;
  width: 200px;
  height: 30px;
  margin: 0px auto;
  font-family: 'Barlow Semi Condensed';
  font-size: 24px;
  border-radius: 8px;
  transition-duration: 0.2s;
}

.submitButton:hover {
  background-color: #F4D602;
  color: #1e1e1e;
}

.homeHeading {
  width: 550px;
  border-radius: 8px;
  border: solid;
  border-width: 4px;
  box-shadow: 10px 10px #11cd85;
  margin: 20px 10px;
  display: inline-block;
}

/* popular dog page styles */
.popularContainer {
  padding-top: 40px;
  display: grid;
  gap: 35px;
  grid-template-columns: auto;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.popularContainer a{
  color: #1e1e1e;
  text-decoration: solid;
}

.popularItem:hover {
  background-color: #f4d80264;
}

.popularItem {
  max-width: 700px;
  margin: 0 auto;
  border: solid;
  border-color: #1e1e1e;
  border-radius: 8px;
  border-width: 2px;
  box-shadow: 20px 10px #1e1e1e;
}

.popularImage {
  width: 450px;
  height: 300px;
  border-radius: 8px;
  margin: 12px 28px;
  border: solid;
  box-shadow: 20px 20px #11cd85;
}

.headerContainer {
  display: inline-block;
  width: 100%
}

.popularHeading { /* header for popular dog cards */
  font-family: 'Barlow Semi Condensed';
  font-size: 40px;
  width: 100%;
  height: 60px;
  background-color: #056FA8;
  color:#fefefe;
  text-align: center;
  padding-top: 10px;
  border-radius: 6px;
  margin-right: 40px;
  float: center;
}

.number { /* dog breed rank number */
  font-family: 'Barlow Semi Condensed';
  font-size: 40px;
  width: 10%;
  height: 60px;
  background-color: #11CD86;
  color:#fefefe;
  border-radius: 6px;
  text-align: center;
  padding-top: 10px;
  float: left;
}

.extra { /* make sure header isnt off set by number */
  width: 10%;
  height: 60px;
  background-color: #056FA8;
  border-radius: 6px;
  padding-top: 10px;
  float: right;
}

.popularText {
  font-size: 20px;
  font-family: 'Barlow Semi Condensed';
  margin: 15px;
}

.HomeLogo {
  padding: 20px 20px;
  position: relative center;
}

/*search page */
/* search function styles */
#textInput {
  background-position: 10px 12px;
  background-repeat: no-repeat;
  width: 50%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.search-container{
  float: center;
  margin: 0px auto;
  padding-top: 40px;
  padding-bottom: 20px;
}

#dogList {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;
  margin: auto 0px;
  gap: 50px;
  justify-content: space-around;
  padding-right: 30px;
}

#dogList img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  box-shadow: 10px 10px #11cd85;
}

#dogList li a {
  text-decoration: none;
  font-size: 18px;
  color: black;
}

#dogList li a:hover:not(.header) {
  background-color: #f4d80264;
}

/* cards with dog facts */
.grid-item {
  width: 350px;
  height: 270px;
  border-radius: 8px;
  border: solid;
  box-shadow: 10px 10px #00517d;
  margin: auto 0px;
  border-width: 3px;
}

.card_info{
  width: 350px;
  display: flex;
  justify-content: space-around;
  align-items: left;
  font-size: 22px;
  font-family: 'Barlow Semi Condensed';
}

.card_header{
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-family: 'Barlow Semi Condensed';
}

